<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom Scripts & Css -->
    <link rel="stylesheet" href="../src/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/index.css">

    <script defer src="../src/createuname.js"></script>

    <title>Welcome to Hue-Controller</title>
</head>
<body>
    <nav class="navbar navtop">
        <p class="navbar-brand mb-0">Bridge IP: <a id="uiIP"></a></p>
    </nav>

    <div class="container">
        <p style="font-size: bold; font-size: 24px">Welcome!</p>
        <p style="font-size: bold; font-size: 16px">Thank you for using Hue-Connector. Please go to your Bridge and click the link button. After Connecting succesfully, the App will restart.</p>
        <br>
        <img alt="Bridge Icon" class="d-block mx-auto" src="../assets/Icons/bridge.svg" width="150px">
    
    </div>
</body>
</html>

