<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom Scripts & Css -->
    <link rel="stylesheet" href="../src/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/createuname.css">

    <script defer src="../src/createuname.js"></script>

    <title>Welcome to Hue-Controller</title>
</head>
<body>
    <nav class="navbar navtop">
        <p class="navbar-brand mb-0" style="color: #FF65A5;">Bridge IP: <a id="uiIP"></a></p>
    </nav>

    <div class="container">
    
    </div>
</body>
</html>

