<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom Scripts & Css -->
    <link rel="stylesheet" href="../src/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/index.css">

    <script defer src="../src/settings.js"></script>

    <title>Settings - Hue-Controller</title>
</head>
<body>
    <nav class="navbar navtop" aria-label="Displays the Bridge IP">
        <p class="navbar-brand mb-0">Bridge IP: <a id="uiIP"></a></p>
    </nav>

    <div class="container" style="padding-bottom: 70px">
        <p style="font-weight: bold; font-size: 24px; text-align: center;">Settings</p>
        <hr>
        <div class="bridgeinformation">
            <div class="row">
                <div class="col-md-auto">
                    <p class="h">ScreenPlay Refresh Delay:</p>
                </div>
                <div class="col-md-auto">
                    <div class="form-group">
                        <input type="number" required min="1" class="form-control" id="screenplaydelay" placeholder="Default (500)" aria-describedby="ScreenPlay-Refresh" onchange="changeRefresh(this.value)">
                        <small>Depending on your Bridge, Internet Speeds and some other Factors, you might have a bad experience by changing this lower than 400.</small>
                        <small id="screenplaydelayHelp" class="form-text" color="green" style="color: green"></small>
                      </div>
                </div>
            </div>
        </div>

        <br>

        <p style="font-weight: bold; font-size: 24px; text-align: center;">Information</p>
        <hr>
        <div class="bridgeinformation">
            <p class="h">Bridge Name: <a id="bridgename"></a></p>
            <p class="h">Bridge ID: <a id="bridgeid"></a></p>
            <p class="h">Bridge mac: <a id="bridgemac"></a></p>
            <p class="h">Locatime: <a id="bridgelocatime"></a></p>
            <p class="h">API Version: <a id="bridgeapiversion"></a></p>
            <p class="h">Bridge Version: <a id="bridgeversion"></a></p>

            <br>
            <p class="h">Settings Filepath: <a id="filepath"></a></p>
        </div>
    </div>

    <footer>
        <nav class="navbar fixed-bottom navbot" aria-label="Buttons for Navigation">
            <div class="container mx-auto d-block">
                <div class="row">
                    <div class="col">
                        <a onclick="window.close()"><img alt="Close" src="../assets/Icons/close.svg"></a>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</body>
</html>

