<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom Scripts & Css -->
    <link rel="stylesheet" href="../src/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/index.css">

    <script defer src="../src/settings.js"></script>

    <title>Settings - Hue-Controller</title>
</head>
<body>
    <nav class="navbar navtop">
        <p class="navbar-brand mb-0" style="color: #FF65A5;">Bridge IP: <a id="uiIP"></a></p>
    </nav>

    <div class="container">
        <p style="font-weight: bold; font-size: 24px; text-align: center;">Information</p>
        <hr>
        <div class="bridgeinformation">
            <p class="h">Bridge Name: <a id="bridgename"></a></p>
            <p class="h">Bridge ID: <a id="bridgeid"></a></p>
            <p class="h">Bridge mac: <a id="bridgemac"></a></p>
            <p class="h">Locatime: <a id="bridgelocatime"></a></p>
            <p class="h">API Version: <a id="bridgeapiversion"></a></p>
            <p class="h">Bridge Version: <a id="bridgeversion"></a></p>
        </div>
    </div>

    <footer>
        <nav class="navbar fixed-bottom navbot">
            <div class="container mx-auto d-block">
                <div class="row">
                    <div class="col">
                        <a onclick="window.close()"><img alt="Close" src="../assets/Icons/close.svg"></a>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</body>
</html>

